
<div id="kanban">

    <app-card-list
        title="To Do"
        listId="todoList"
        statusId="1"
        [cards]="todo"
        [connectedTo]="['doingList', 'doneList']"
        (evtDrop)="drop($event)"
        >
    </app-card-list>

    <app-card-list
        title="Doing"
        listId="doingList"
        statusId="2"
        [cards]="doing"
        [connectedTo]="['todoList', 'doneList']"
        (evtDrop)="drop($event)"
        >
    </app-card-list>

    <app-card-list
        title="Done"
        listId="doneList"
        statusId="3"
        [cards]="done"
        [connectedTo]="['todoList', 'doingList']"
        (evtDrop)="drop($event)"
        >
    </app-card-list>

</div>