<mat-toolbar *ngIf="!editMode" color="primary">
    <mat-toolbar-row>
        <mat-icon>description</mat-icon>
        <span class="spacer"></span>
        <span>Visualizar Tarefa</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="card-detail" *ngIf="!editMode">
    <h2>{{card.title}}</h2>
    <p>{{card.description}}</p>

    <div class="detail-buttons">
        <button mat-raised-button
            color="warn">
            Excluir
        </button>
        <button mat-raised-button
            color="primary"
            (click)="editMode = true">
            Editar
        </button>
    </div>
</div>


<mat-toolbar *ngIf="editMode" color="primary">
    <mat-toolbar-row>
        <button mat-mini-fab
            *ngIf="!newMode"
            color="basic"
            (click)="editMode = false">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <mat-icon *ngIf="newMode">library_add</mat-icon>
        <span class="spacer"></span>
        <span *ngIf="!newMode">Editar Tarefa</span>
        <span *ngIf="newMode">Nova Tarefa</span>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="cardForm" *ngIf="editMode" id="card-form">

    <mat-form-field>
        <input matInput required
            placeholder="Título" 
            name="title" 
            formControlName="title">
        <mat-error>Título é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput required
            placeholder="Responsável" 
            aria-label="Responsável" 
            [matAutocomplete]="auto" 
            [formControl]="memberCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let member of filteredMembers | async" [value]="member.name">
            <img class="member-option-img" aria-hidden [src]="member.imgUrl" height="25">
            <span>{{member.name}}</span> 
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div id="cardFormInputs">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select name="status" formControlName="status">
                <mat-option value="1">To Do</mat-option>
                <mat-option value="2">Doing</mat-option>
                <mat-option value="3">Done</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Prioridade</mat-label>
            <mat-select name="priority" formControlName="priority">
                <mat-option value="1">Baixa</mat-option>
                <mat-option value="2">Média</mat-option>
                <mat-option value="3">Alta</mat-option>
                <mat-option value="4">Urgente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <textarea matInput placeholder="Descrição"></textarea>
    </mat-form-field>

    <button mat-raised-button
        color="primary"
        (click)="onSubmit()"
        type="submit">
        Salvar
    </button>

</form>